:root {
  --themeBgColor: #FAECDA;
  --themeMainTextColor: #2D2D2D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  background: var(--themeBgColor);
}
button {
  display: block;
  position: relative;
  padding: .5rem 4rem;
  margin: 1rem auto;
  border-radius: .6rem;
  font-size: 20px;
  text-decoration: none;
  border: none;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  color: #FFFFFF;
  background-color: #03C03C;
  border-bottom: 5px solid #038129;
  text-shadow: 0px -2px #29b982;
}
button:active, .answer-pad-item:active {
  background-color: #7bf16b;
}
.option_container {
  width: 100%;
  padding: 0 1.6rem;
  text-align: center;
  margin-top: -100px;
}
.option_button {
  width: 100%;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 4rem;
}
.header-title {
  padding: 0.5rem;
  margin: 2rem;
  text-align: center;
  color: var(--themeMainTextColor);
}
.mode_toggle {
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
  background: url('../images/mode_toggle.png') no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  right: 2rem;
  top: 3rem;
}

/* Page */
.page {
  top: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 4rem);
  background: var(--themeBgColor) url('../images/bg.png') no-repeat bottom;
  background-size: contain;
}

/* 剩余机会 */
.chance-cont {
  width: 100%;
}
.chance-cont h3 {
  color: var(--themeMainTextColor);
  font-size: 1.1rem;
  padding: 0 1.6rem;
}

/* Score */
.score-cont {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
}
.score-cont h3 {
  color: var(--themeMainTextColor);
  font-size: 1.1rem;
  width: 50%;
}

/* 问题框 */
.question-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 14rem;
  border-radius: 1rem;
  border: .05rem solid #EFEFEF;
  background: rgba(242, 242, 242, 0.5);
  box-shadow: 0 .1rem 4rem rgb(0, 0, 0, .2);
  margin-bottom: 4rem;
  z-index: 999;
  position: relative;
  overflow: hidden;
}
.question-box:after {
  background: rgba(242, 242, 242, 0.5);
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(2rem);
}

.question-box-letter {
  font-size: 6rem;
  text-shadow: 1px 1px 1px #EFEFEF, 2px 2px 2px #EFEFEF, 3px 3px 3px #EFEFEF, 4px 4px 4px #2D2D2D;
}
/* Answer Pad */
.answer-pad-cont {
  z-index: 9998;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 4rem;
}
.answer-pad-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  border-radius: 12px;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  background-color: #03C03C;
  border-bottom: 5px solid #038129;
  text-shadow: 0px -2px #29b982;
}
.answer-pad-circle {
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 0.2rem solid #000000;
  border-radius: 50%;
  background: #FFFFFF;
  color: var(--themeMainTextColor);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}
.game-over-text {
  color: var(--themeMainTextColor);
  text-align: center;
  margin-bottom: 2rem;
}
.switch-on {
  bottom: -1rem;
  left: -1rem;
}
.wrong {
  background-color: rgb(245, 92, 92);
}
.hidden {
  display: none;
}
