:root {
  --themeBgColor: #FAECDA;
  --themeMainTextColor: #2D2D2D;
  --countTextColor: #1C2363;
  --countBgColor: #1C2363;
  --themeGreen: #03C03C;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  overflow: hidden;
  background: var(--themeBgColor);
}
button {
  -webkit-appearance: none;
  -webkit-transition: all 0.25s;
  transition: all .25s;
  display: block;
  position: relative;
  padding: .5rem 4rem;
  margin: 1rem auto;
  border-radius: .6rem;
  font-size: 20px;
  text-decoration: none;
  border: none;
  transition: all 0.1s;
  color: #FFFFFF;
  background-color: var(--themeGreen);
  border-bottom: 5px solid #038129;
  text-shadow: 0px -2px #29B982;
  z-index: 111;
}
button:active {
  background-color: #7BF16B;
}
.option_container {
  width: 100%;
  padding: 0 1.6rem;
  text-align: center;
  margin-top: -3.5rem;
  position: relative;
  z-index: 999;
}
.option_button {
  width: 100%;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 15rem;
  background: url('../images/miraitowa.png') no-repeat center;
  background-size: auto 95%;
}
.header .mode_toggle {
  display: inline-block;
  height: 1.6rem;
  width: 1.6rem;
  background: url('../images/mode_toggle.png') no-repeat center;
  background-size: 100% 100%;
  position: absolute;
  right: 2rem;
  top: 2rem;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, .25));
}

/* Page */
.page {
  top: 4rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 4rem);
  overflow: hidden;
}

.torii {
  width: 100%;
  height: 0;
  padding-top: 75%;
  background: url('../images/bg.png') no-repeat bottom;
  background-size: 100% auto;
  position: absolute;
  bottom: -1rem;
  margin: 0 auto;
  animation: toriiAnimate 16s infinite ease-in-out;
  animation-fill-mode: both;
  transition: all ease-in-out;
}

.count_box {
  background:#FFFFFF;
  position: relative;
  z-index: 999;
  margin: 0 auto 2rem;
  width: 94%;
  border-radius: 12px;
  padding: .2rem 0;
  border: 1px solid #EEEEEE;
  border-bottom: 5px solid #CCCCCC;
  box-shadow: 0 1px 5px rgb(0, 0, 0, .1);
}
/* Score */
.score_cont {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 999;
}
.score_cont h3 {
  color: var(--countTextColor);
  font-size: 1rem;
  width: 50%;
}

/* 问题框 */
.question_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem;
  border-radius: 1rem;
  border: .05rem solid #EFEFEF;
  background: rgba(242, 242, 242, 0.5);
  box-shadow: 0 1px 5px rgb(0, 0, 0, .15);
  margin-bottom: 3rem;
  z-index: 999;
  position: relative;
  overflow: hidden;
  border-bottom: 5px solid #EFEFEF;
}
.question_box:after {
  background: rgba(242, 242, 242, 0.5);
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  filter: blur(2rem);
}

.question_box_letter {
  font-size: 6rem;
  text-shadow: 1px 1px 1px #EFEFEF, 2px 2px 2px #EFEFEF, 3px 3px 3px #EFEFEF, 4px 4px 4px #2D2D2D;
}
/* Answer Pad */
.answer_pad_cont {
  z-index: 998;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 4rem;
}
.answer_pad_item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
  margin: 0 .5rem;
  border-radius: 12px;
  font-size: 24px;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  background-color: var(--themeGreen);
  border-bottom: 5px solid #038129;
  text-shadow: 0px -2px #29b982;
}
.answer_pad_circle {
  position: absolute;
  top: -1rem;
  left: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 0.2rem solid #000000;
  border-radius: 50%;
  background: #FFFFFF;
  color: var(--themeMainTextColor);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

.game_over_banner {
  display: inline-block;
  height: 12rem;
  width: 12rem;
  background: url('../images/prize.png') no-repeat center;
  background-size: 100% 100%;
  margin: -3rem auto 1rem;
  position: relative;
  z-index: 999;
  transform: rotate(7.5deg);
  filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, .25));
}
.game_over_text {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: var(--countTextColor);
  z-index: 999;
  background:#FFFFFF;
  width: 86%;
  border-radius: 12px;
  padding: .1rem 0;
  border: 1px solid #EEEEEE;
  border-bottom: 5px solid #CCCCCC;
  box-shadow: 0 1px 5px rgb(0, 0, 0, .1);
}
.switch-on {
  bottom: -1rem;
  left: -1rem;
}
.wrong {
  background-color: rgb(245, 92, 92);
  border-bottom: 5px solid #c72828;
  text-shadow: 0px -2px #e7a4af;
}
.hidden {
  display: none;
}
@-webkit-keyframes toriiAnimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes toriiAnimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes toriiAnimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes toriiAnimate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.mod_orient_layer {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1111;
  background: #FFFFFF url('../images/landscape.png') no-repeat center;
  background-size: auto 100%;
}
@media screen and (min-aspect-ratio: 13/8) {
  .mod_orient_layer {
    display: block;
  }
}